<h2>Notes Component</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus
  iure, illum, quia eaque officia maiores, reiciendis commodi molestias ipsum
  illo quaerat cupiditate voluptates aut! Officiis possimus dolor assumenda
  exercitationem deserunt voluptatem et perspiciatis suscipit, dignissimos
  adipisci, quisquam nihil voluptas accusantium, commodi delectus! Nisi
  excepturi, et illo nobis quaerat eum doloribus vitae maxime officiis,
  veritatis voluptates quidem. Laboriosam iure labore voluptate? Sed, at id?
  Esse sunt repudiandae id rerum deleniti suscipit corrupti modi a. Sed
  doloribus perspiciatis, accusamus aut, quo iusto rerum quibusdam dolor
  voluptatum corporis ullam, dicta asperiores aliquid? Labore at magnam, vero
  natus quos quo non reiciendis mollitia!
</p>
